<div class="w-full snap-center shrink-0 bg-white dark:bg-slate-950 border border-slate-200 dark:border-slate-800 shadow rounded-lg p-4">
  <div class="flex space-x-2 mb-4">
    <a href="https://www.linkedin.com/in/gianfrancopiana/">
      <img src="/assets/images/recommendations/gianfranco.webp" alt="Gianfranco's Avatar" class="w-12 h-12 rounded-full object-cover" />
    </a>
    <div>
      <h3 class="font-medium"><a class="visited:text-current" href="https://www.linkedin.com/in/gianfrancopiana/">Gianfranco Piana</a></h3>
      <span class="text-sm text-gray-600 dark:text-gray-300">Senior Software Engineer at Antiwork</span>
    </div>
  </div>

  <blockquote class="relative mt-6">
    <div class="absolute -top-6 -start-2 text-gray-100 dark:text-gray-700">
      {% include icons/quote.html %}
    </div>

    <div class="relative z-10 px-2">
      <p class="text-gray-800 dark:text-slate-50 indent-4"><em>
        Emmanuel truly knows Rails inside and out. When you're stuck on something, he's the person you go to and he always makes time to help.
      </em></p>

      <p class="text-gray-800 dark:text-slate-50 indent-4 mt-4"><em>
        Beyond his technical chops, Emmanuel is just a genuinely good person to work with. He's calm, straightforward, and incredibly patient – I've seen it firsthand with how he handles OSS contributors and code reviews. You always walk away learning something.
      </em></p>
    </div>
  </blockquote>
</div>
