<div class="w-full snap-center shrink-0 bg-white dark:bg-slate-950 border border-slate-200 dark:border-slate-800 shadow rounded-lg p-4">
  <div class="flex space-x-2 mb-4">
    <a href="https://www.linkedin.com/in/glen-curtis-562439117/">
      <img src="/assets/images/recommendations/glen.webp" alt="Glen's Avatar" class="w-12 h-12 rounded-full object-cover" />
    </a>
    <div>
      <h3 class="font-medium"><a class="visited:text-current" href="https://www.linkedin.com/in/glen-curtis-562439117/">Glen Curtis</a></h3>
      <span class="text-sm text-gray-600 dark:text-gray-300">Senior Frontend Developer</span>
    </div>
  </div>

  <blockquote class="relative mt-6">
    <div class="absolute -top-6 -start-2 text-gray-100 dark:text-gray-700">
      {% include icons/quote.html %}
    </div>

    <div class="relative z-10 px-2">
      <details class="group indent-12 open:indent-4">
        <summary class="group-open:hidden text-slate-500 dark:text-slate-400 marker:content-[''] text-sm cursor-pointer">... Read more</summary>

        <div class="text-gray-800 dark:text-slate-50 mt-2">
          <em>
            Family man, wicked sharp and a pleasure to be around.
            <br/><br />
            I worked with Emmanuel for a little under a year while we were both employed at Spring and wow, what an entrance he made on the company! I was employed with Spring for around 6 months before Emmanuel joined and from day one he was making an impact.
            <br/><br />
          </em>
        </div>
      </details>

      <p class="text-gray-800 dark:text-slate-50"><em>
        If you need an engineer that can adapt to large code bases quickly and knows his way around every aspect of modern web development with Ruby on Rails, Emmanuel is your man.
      </em></p>

      <details class="group">
        <summary class="group-open:hidden text-slate-500 dark:text-slate-400 marker:content-[''] text-sm cursor-pointer">... Read more</summary>

        <div class="text-gray-800 dark:text-slate-50 mt-4">
          <em>
            Easy to get on with, informative and always around to give a detailed review on your pull request (also a shark to have on your team if you ever have a board game night!)
            <br/><br />
            Will miss working with you Emmanuel, best of luck to you and your family. The next company you move to will be lucky to have you!
          </em>
        </div>
      </details>
    </div>
  </blockquote>
</div>
