<div class="w-full snap-center shrink-0 bg-white dark:bg-slate-950 border border-slate-200 dark:border-slate-800 shadow rounded-lg p-4">
  <div class="flex space-x-2 mb-4">
    <a href="https://www.linkedin.com/in/katiemichie/">
      <img src="/assets/images/recommendations/katie.webp" alt="Katie's Avatar" class="w-12 h-12 rounded-full object-cover" />
    </a>
    <div>
      <h3 class="font-medium"><a class="visited:text-current" href="https://www.linkedin.com/in/katiemichie/">Katie Michie</a></h3>
      <span class="text-sm text-gray-600 dark:text-gray-300">Custoner Success Manager</span>
    </div>
  </div>

  <blockquote class="relative mt-6">
    <div class="absolute -top-6 -start-2 text-gray-100 dark:text-gray-700">
      {% include icons/quote.html %}
    </div>

    <div class="relative z-10 px-2">
      <p class="text-gray-800 dark:text-slate-50 indent-4"><em>
        I had the pleasure of working with Emmanuel, and any team would be lucky to have him. He’s incredibly knowledgeable in his field, hardworking, and communicates with clarity and empathy.
        <br /><br />
        Emmanuel is a truly supportive teammate who challenges directly and brings thoughtful perspective to every conversation. A kind, reliable, and effective collaborator through and through.
      </em></p>
    </div>
  </blockquote>
</div>
