<div class="w-full snap-center shrink-0 bg-white dark:bg-slate-950 border border-slate-200 dark:border-slate-800 shadow rounded-lg p-4">
  <div class="flex space-x-2 mb-4">
    <a href="https://www.linkedin.com/in/glen-curtis-562439117/">
      <img src="/assets/images/recommendations/sebastian.webp" alt="Sebastian's Avatar" class="w-12 h-12 rounded-full object-cover" />
    </a>
    <div>
      <h3 class="font-medium"><a class="visited:text-current" href="https://www.linkedin.com/in/glen-curtis-562439117/">Sebastian Almnes</a></h3>
      <span class="text-sm text-gray-600 dark:text-gray-300">Co-Founder & CEO at Spring</span>
    </div>
  </div>

  <blockquote class="relative mt-6">
    <div class="absolute -top-6 -start-2 text-gray-100 dark:text-gray-700">
      {% include icons/quote.html %}
    </div>

    <div class="relative z-10 px-2">
      <p class="text-gray-800 dark:text-slate-50 indent-4"><em>
        I’ve had the chance to work with many developers over the years, but Emmanuel stands out as the most talented Rails developer I’ve worked with. He brings more than just technical skill — he brings thoughtfulness. He’s not afraid to challenge assumptions or start a discussion if it means we get to a better outcome. That kind of mindset has elevated the quality of our code and our team culture.
        <br /><br />
        What I admire most is his ability to adapt. Whether the requirements are shifting, or the context isn’t perfectly defined, he never gets stuck. He stays focused, finds a path forward, and delivers solid work — always with care and pride in the result. His passion for what he does shows up in the details and in the energy he brings to the team.
        <br/><br />
        If you get a chance to work with him, take it.
      </em></p>
    </div>
  </blockquote>
</div>
