<div class="w-full snap-center shrink-0 bg-white dark:bg-slate-950 border border-slate-200 dark:border-slate-800 shadow rounded-lg p-4">
  <div class="flex space-x-2 mb-4">
    <a href="https://www.linkedin.com/in/tomas-veiden/">
      <img src="/assets/images/recommendations/tomas.webp" alt="Tomas' Avatar" class="w-12 h-12 rounded-full object-cover" />
    </a>
    <div>
      <h3 class="font-medium"><a class="visited:text-current" href="https://www.linkedin.com/in/tomas-veiden/">Tomas Veiden</a></h3>
      <span class="text-sm text-gray-600 dark:text-gray-300">Consultant, Former Co-Founder & Former CTO at Spring</span>
    </div>
  </div>

  <blockquote class="relative mt-6">
    <div class="absolute -top-6 -start-2 text-gray-100 dark:text-gray-700">
      {% include icons/quote.html %}
    </div>

    <div class="relative z-10 px-2">
      <details class="group indent-12 open:indent-4">
        <summary class="group-open:hidden text-slate-500 dark:text-slate-400 marker:content-[''] text-sm cursor-pointer">... Read more</summary>

        <div class="text-gray-800 dark:text-slate-50 mt-2">
          <em>
            I hired Emmanuel as a Senior Software Engineer at Spring in June 2024 and had the pleasure of working with him until I left the company at the end of that year. He left a lasting impression.
            <br/><br />
            Emmanuel quickly proved to be an excellent developer. We started Emmanuel out with a tough problem, by asking him to improve our intricate payment-processing system. Emmanuel impressed us by quickly getting a good grasp of both the business and code-aspects of the problem we were trying to solve, and soon started making improvements on both.
          </em>
        </div>
      </details>

      <p class="text-gray-800 dark:text-slate-50 mt-4"><em>
        Emmanuel holds himself to a high standard when it comes to code quality, and helped raise the bar for the rest of the team. A big part of this is that he’s a thorough reviewer, who gives clear feedback to other team members and shares his knowledge in a pedagogic manner.
      </em></p>

      <details class="group">
        <summary class="group-open:hidden text-slate-500 dark:text-slate-400 marker:content-[''] text-sm cursor-pointer">... Read more</summary>

        <div class="text-gray-800 dark:text-slate-50 mt-4">
          <em>
            Where many developers have a tendency to reinvent the wheel, Emmanuel deeply understands the tools he's working with (in our case, Ruby on Rails and Hotwire), and is able to utilize them to their full extent. The result is clean, standardized code, that is more easily interpreted by other developers.
            <br/><br />
            Just as important, Emmanuel is pragmatic, and able to balance the need to refactor and improve code against the overarching goal of making a better experience for the end-user. It’s not often you find someone as passionate about all aspects of software engineering as Emmanuel.
            <br/><br />
            Any team would be lucky to have him.
          </em>
        </div>
      </details>
    </div>
  </blockquote>
</div>
