<div class="w-full snap-center shrink-0 bg-white dark:bg-slate-950 border border-slate-200 dark:border-slate-800 shadow rounded-lg p-4">
  <div class="flex space-x-2 mb-4">
    <a href="https://www.linkedin.com/in/xurxomendezperez/">
      <img src="/assets/images/recommendations/xurxo.webp" alt="Xurxo's Avatar" class="w-12 h-12 rounded-full object-cover" />
    </a>
    <div>
      <h3 class="font-medium"><a class="visited:text-current" href="https://www.linkedin.com/in/xurxomendezperez/">Xurxo Mendez Perez</a></h3>
      <span class="text-sm text-gray-600 dark:text-gray-300">Principal Developer (Ruby on Rails) & Solutions Architect at Spring</span>
    </div>
  </div>

  <blockquote class="relative mt-6">
    <div class="absolute -top-6 -start-2 text-gray-100 dark:text-gray-700">
      {% include icons/quote.html %}
    </div>

    <div class="relative z-10 px-2">
      <details class="group indent-12 open:indent-4">
        <summary class="group-open:hidden text-slate-500 dark:text-slate-400 marker:content-[''] text-sm cursor-pointer">... Read more</summary>

        <div class="text-gray-800 dark:text-slate-50 mt-2">
          <em>
            I've had the chance to work closely with Emmanuel, and I can honestly say he’s probably the Rails developer who knows the framework best out of anyone I’ve worked with. His technical knowledge is solid, but what really stands out is how he uses it to help the whole team.
          </em>
        </div>
      </details>

      <p class="text-gray-800 dark:text-slate-50 mt-4"><em>
        Having someone like Emmanuel on a team is a game changer. He motivates people around him just by the way he works—sharing what he knows, asking good questions, and always looking for ways to improve things. It naturally pushes everyone to learn and grow.
      </em></p>

      <details class="group">
        <summary class="group-open:hidden text-slate-500 dark:text-slate-400 marker:content-[''] text-sm cursor-pointer">... Read more</summary>

        <div class="text-gray-800 dark:text-slate-50 mt-4 space-y-4">
          <em>
            He cares about clean code, has a strong engineering mindset, and is always looking out for the quality of the codebase. He doesn't just build what’s asked—he makes sure it’s done right and looks for chances to make it even better.
            <br /><br/>
            If you’re looking for a Rails developer who’s skilled, thoughtful, and great to work with, I’d definitely recommend Emmanuel.
          </em>
        </div>
      </details>
    </div>
  </blockquote>
</div>
