<div class="flex space-x-2">
  <a href="https://www.captaincontrat.com" class="w-16 h-16">
    <img src="/assets/images/resume/captain_contrat_logo.webp" alt="Captain Contrat Logo" class="w-full aspect-square rounded object-cover" />
  </a>
  <div>
    <h3 class="md:text-lg font-bold">Web Developer - Captain Contrat</h3>
    <span class="text-sm text-gray-600 dark:text-gray-300">January 2015 - July 2017</span>
  </div>
</div>

<p class="mt-2">Captain Contrat, a transformative startup, is committed to empowering entrepreneurs with an economical web solution, facilitating the creation of robust and legally sound documents for establishing companies and job positions. Simultaneously, it serves as a valuable tool for lawyers, offering an integrated web app to enhance their efficiency and connectivity with entrepreneurs.</p>

<div>
  <details class="block mt-2 peer" aria-describedby="captain-contrat-contributions">
    <summary role="button">Key Contributions</summary>
  </details>
  <div class="grid grid-rows-[0fr] peer-open:mt-2 peer-open:grid-rows-[1fr] overflow-hidden transition-[grid-template-rows] duration-200">
    <div id="captain-contrat-contributions" class="min-h-0 space-y-2">
      <p>Joining this dynamic startup in January 2015, I witnessed significant growth over my two and a half years tenure. The team expanded from three co-founders and a handful of interns to a thriving unit of 34 employees, securing 1 million euros in fundraising.</p>
      <p>During my tenure at Captain Contrat, I played a major role in the following initiatives:</p>

      <ul>
        <li>Implemented and maintained various features, enriching the main app with functionalities such as appointment scheduling and customized dashboards for customers and lawyer partners.</li>
        <li>Developed an automated invoicing service seamlessly integrated into the main business workflow.</li>
        <li>Established and maintained a customer service dashboard for the Customer Success Team.</li>
        <li>Nurtured the company's internal culture and values, drawing inspiration from the principles of Tony Hsieh.</li>
        <li>Enhanced the Technical team's workflow by implementing a methodology inspired by both Agile and Lean philosophies.</li>
        <li>Conducted numerous training workshops on internal tool best practices and technical skills.</li>
        <li>Successfully recruited and mentored a student who has since flourished in a rewarding career as a Rails developer.</li>
      </ul>
    </div>
  </div>
</div>

<div>
  <details class="block mt-2 peer" aria-describedby="captain-contrat-technical-skills">
    <summary role="button">Technical Skills</summary>
  </details>
  <div class="grid grid-rows-[0fr] peer-open:mt-2 peer-open:grid-rows-[1fr] overflow-hidden transition-[grid-template-rows] duration-200">
    <div id="captain-contrat-technical-skills" class="min-h-0 space-y-2">
      <p>Ruby on Rails · Javascript · MySQL · Postgres · Amazon Web Services</p>
    </div>
  </div>
</div>

<div>
  <details class="block mt-2 peer" aria-describedby="captain-contrat-recommendations">
    <summary role="button">Recommendations</summary>
  </details>
  <div class="grid grid-rows-[0fr] peer-open:mt-4 peer-open:grid-rows-[1fr] overflow-hidden transition-[grid-template-rows] duration-200">
    <div id="captain-contrat-recommendations" class="min-h-0 w-full flex gap-6 snap-x snap-mandatory overflow-x-auto">
      {% include recommendations/captain_contrat/pierre.html %}
      {% include recommendations/captain_contrat/manon.html %}
      {% include recommendations/captain_contrat/yannick.html %}
    </div>
  </div>
</div>
