<div class="flex space-x-2">
  <a href="https://www.checksub.com" class="w-16 h-16">
    <img src="/assets/images/resume/checksub_logo.webp" alt="CheckSub Logo" class="w-full aspect-square object-contain rounded bg-black dark:bg-transparent" />
  </a>
  <div>
    <h3 class="md:text-lg font-bold">Developer - CheckSub</h3>
    <span class="text-sm text-gray-600 dark:text-gray-300">January 2018 - July 2018</span>
  </div>
</div>

<p class="mt-2">My first client as a freelancer was CheckSub, a company that provides a transcription platform for content creators.</p>

<div>
  <details class="block mt-2 peer" aria-describedby="checksub-key-contributions">
    <summary role="button">Key Contributions</summary>
  </details>
  <div class="grid grid-rows-[0fr] peer-open:mt-2 peer-open:grid-rows-[1fr] overflow-hidden transition-[grid-template-rows] duration-200">
    <div id="checksub-key-contributions" class="min-h-0">
      <ul>
        <li>Automated the transcription process for captioners by integrating with the Trello API.</li>
        <li>Developed a new feature to allow users generate subtitles from their own audio files.</li>
        <li>Implemented a a dashboard to edit a content's subtitles at the granular level, using React, Redux and Wavesurfer.js</li>
      </ul>
    </div>
  </div>
</div>

<div>
  <details class="block mt-2 peer" aria-describedby="braidio-technical-skills">
    <summary role="button">Technical Skills</summary>
  </details>
  <div class="grid grid-rows-[0fr] peer-open:mt-2 peer-open:grid-rows-[1fr] overflow-hidden transition-[grid-template-rows] duration-200">
    <div id="braidio-technical-skills" class="min-h-0">
      <p>Ruby on Rails · React.js · Redux · Wavesurfer.js · Postgres · Trello API</p>
    </div>
  </div>
</div>

<div>
  <details class="block mt-2 peer" aria-describedby="checksub-recommendations">
    <summary role="button">Recommendations</summary>
  </details>
  <div class="grid grid-rows-[0fr] peer-open:mt-4 peer-open:grid-rows-[1fr] overflow-hidden transition-[grid-template-rows] duration-200">
    <div id="checksub-recommendations" class="min-h-0 w-full flex gap-6 snap-x snap-mandatory overflow-x-auto">
      {% include recommendations/checksub/florian.html %}
    </div>
  </div>
</div>
