<div class="bg-white dark:bg-slate-950 border border-slate-200 dark:border-slate-800 shadow rounded-lg p-4">
  <div class="flex space-x-2">
    <a href="https://iteem.centralelille.fr/" class="w-16 h-16">
      <img src="/assets/images/resume/iteem_logo.webp" alt="ITEEM Logo" class="w-full aspect-square rounded" />
    </a>
    <div>
      <h3 class="md:text-lg font-bold">Master's Degree, Engineer Manager Entrepreneur - ITEEM</h3>
      <span class="text-sm text-gray-600 dark:text-gray-300">September 2007 - October 2012</span>
    </div>
  </div>

  <p class="mt-2">
    Graduated as an Engineer from <a href="https://iteem.centralelille.fr/" class="text-blue-500 hover:text-blue-600" target="_blank">ITEEM</a>, a programme of <a href="https://centralelille.fr/" class="text-blue-500 hover:text-blue-600" target="_blank">École Centrale de Lille</a>, with studies in Computer Science and a specialisation in Industrial and Entrepreneurial Engineering.
  </p>
</div>
