<div class="flex space-x-2">
  <a href="https://www.myjobglasses.com" class="w-16 h-16">
    <img src="/assets/images/resume/my_job_glasses_logo.webp" alt="My Job Glasses Logo" class="w-full aspect-square rounded" />
  </a>
  <div>
    <h3 class="md:text-lg font-bold">Web Developer - My Job Glasses</h3>
    <span class="text-sm text-gray-600 dark:text-gray-300">July 2017 - December 2017</span>
  </div>
</div>

<p class="mt-2">My Job Glasses, founded in November 2015, aims to redefine networking between students and professionals in Europe. The goal is to assist students in finding their dream job while helping professionals save time and money by connecting with the right profiles. This is facilitated through a user-friendly web platform that empowers everyone to build their professional network.</p>

<div>
  <details class="block mt-2 peer" aria-describedby="my-job-glasses-contributions">
    <summary role="button">Key Contributions</summary>
  </details>
  <div class="grid grid-rows-[0fr] peer-open:mt-2 peer-open:grid-rows-[1fr] overflow-hidden transition-[grid-template-rows] duration-200">
    <div id="my-job-glasses-contributions" class="min-h-0 space-y-2">
      <p>During my tenure as a full-stack web developer, predominantly utilizing Ruby-on-Rails and React, I played a pivotal role in several key initiatives:</p>
      <ul>
        <li>Successfully launched V2, encompassing both back and front ends.</li>
        <li>Introduced a KANBAN workflow within the tech team.</li>
        <li>Implemented effective inter-team processes within the company.</li>
      </ul>
    </div>
  </div>
</div>

<div>
  <details class="block mt-2 peer" aria-describedby="my-job-glasses-technical-skills">
    <summary role="button">Technical Skills</summary>
  </details>
  <div class="grid grid-rows-[0fr] peer-open:mt-2 peer-open:grid-rows-[1fr] overflow-hidden transition-[grid-template-rows] duration-200">
    <div id="my-job-glasses-technical-skills" class="min-h-0 space-y-2">
      <p>Ruby on Rails · React.js · MongoDB · Amazon Web Services</p>
    </div>
  </div>
</div>
