<div class="bg-white dark:bg-slate-950 border border-slate-200 dark:border-slate-800 shadow rounded-lg p-4">
  <div class="flex space-x-2">
    <a href="https://www.usherbrooke.ca/" class="w-16 h-16">
      <img src="/assets/images/resume/sherbrooke_logo.webp" alt="Sherbrooke University Logo" class="w-full aspect-square rounded" />
    </a>
    <div>
      <h3 class="md:text-lg font-bold">Exchange Program - Sherbrooke University</h3>
      <span class="text-sm text-gray-600 dark:text-gray-300">September 2011 - April 2012</span>
    </div>
  </div>

  <p class="mt-2">
    Certificate of Applied Sciences at <a href="https://www.usherbrooke.ca/" class="text-blue-500 hover:text-blue-600" target="_blank">Sherbrooke University</a> in Quebec, Canada. Coursework in engineering project management, budget management, functional analysis, quality management, and change management.
  </p>
</div>
