<div class="flex space-x-2">
  <a href="https://www.smalldoorvet.com/" class="w-16 h-16">
    <img src="/assets/images/resume/smalldoor_logo.webp" alt="Small Door Logo" class="w-full aspect-square rounded" />
  </a>
  <div>
    <h3 class="md:text-lg font-bold">Lead Developer - Small Door Veterinary</h3>
    <span class="text-sm text-gray-600 dark:text-gray-300">January 2021 - July 2021</span>
  </div>
</div>

<p class="mt-2">As part of my role overseeing the maintenance and feature development of web and mobile apps, I facilitated the shift in the company's product development strategy. We transitioned from relying on external consultants for a single veterinary practice to establishing an internal team of diverse specialists, serving multiple practices across various regions.</p>

<div>
  <details class="block mt-2 peer" aria-describedby="small-door-key-contributions">
    <summary role="button">Key Contributions</summary>
  </details>
  <div class="grid grid-rows-[0fr] peer-open:mt-2 peer-open:grid-rows-[1fr] overflow-hidden transition-[grid-template-rows] duration-200">
    <div id="small-door-key-contributions" class="min-h-0">
      <p>Noteworthy contributions include my involvement in recruiting the Head of Product and Technology, along with two seasoned software developers.</p>
    </div>
  </div>
</div>

<div>
  <details class="block mt-2 peer" aria-describedby="small-door-technical-skills">
    <summary role="button">Technical Skills</summary>
  </details>
  <div class="grid grid-rows-[0fr] peer-open:mt-2 peer-open:grid-rows-[1fr] overflow-hidden transition-[grid-template-rows] duration-200">
    <div id="small-door-technical-skills" class="min-h-0">
      <p>Leading Development Teams · Ruby on Rails · Postgres · React.js · React Native · Amazon Web Services</p>
    </div>
  </div>
</div>

<div>
  <details class="block mt-2 peer" aria-describedby="small-door-recommendations">
    <summary role="button">Recommendations</summary>
  </details>
  <div class="grid grid-rows-[0fr] peer-open:mt-4 peer-open:grid-rows-[1fr] overflow-hidden transition-[grid-template-rows] duration-200">
    <div id="braidio-recommendations" class="min-h-0 w-full flex gap-6 snap-x snap-mandatory overflow-x-auto">
      {% include recommendations/small_door/edward.html %}
      {% include recommendations/small_door/jean_francois.html %}
    </div>
  </div>
</div>
