<div class="bg-white dark:bg-slate-950 border border-slate-200 dark:border-slate-800 shadow rounded-lg p-4">
  <div class="flex space-x-2 mb-4">
    <a href="https://www.linkedin.com/in/edelangen/">
      <img src="/assets/images/recommendations/edward.webp" alt="Edward's Avatar" class="w-12 h-12 rounded-full object-cover" />
    </a>
    <div>
      <h3 class="font-medium"><a class="visited:text-current" href="https://www.linkedin.com/in/edelangen/">Edward De Langen</a></h3>
      <span class="text-sm text-gray-600 dark:text-gray-300">Vice President, Product and Technology</span>
    </div>
  </div>

  <blockquote class="relative mt-6">
    <div class="absolute -top-6 -start-2 text-gray-100 dark:text-gray-700">
      {% include icons/quote.html %}
    </div>

    <div class="relative z-10 px-2">
      <p class="text-gray-800 dark:text-slate-50 indent-4"><em>
        Emmanuel is a talented developer with a sharp and rapid analytical mind. He is solution-oriented and will quickly find a solution to whichever technical predicament you find yourself in. Emmanuel can deliver quality output in a short amount of time while still considering broader implications such as maintainability and architecture. He's not the type of developer to fall for the technological fad of the week. He stays current and understands the advantages and disadvantages of recent frameworks and how they can help but more importantly sometimes hinder a company's objectives. His input is always well thought out and insightful. I truly respect his work ethic and capabilities and would gladly work with him again.
      </em></p>
    </div>
  </blockquote>
</div>
