<div class="w-full snap-center shrink-0 bg-white dark:bg-slate-950 border border-slate-200 dark:border-slate-800 shadow rounded-lg p-4">
  <div class="flex space-x-2 mb-4">
    <a href="https://www.linkedin.com/in/jfdumas/">
      <img src="/assets/images/recommendations/jean-francois.webp" alt="Jean-François Dumas's Avatar" class="w-12 h-12 rounded-full object-cover" />
    </a>
    <div>
      <h3 class="font-medium"><a class="visited:text-current" href="https://www.linkedin.com/in/jfdumas/">Jean-François Dumas</a></h3>
      <span class="text-sm text-gray-600 dark:text-gray-300">Software Engineer and former Staff Developer at Small Door</span>
    </div>
  </div>

  <blockquote class="relative mt-6">
    <div class="absolute -top-6 -start-2 text-gray-100 dark:text-gray-700">
      {% include icons/quote.html %}
    </div>

    <div class="relative z-10 px-2">
      <p class="text-gray-800 dark:text-slate-50 indent-4"><em>
        Emmanuel possesses a vast knowledge of the Ruby on Rails ecosystem, and his expertise extends beyond it. During our time working together, he skillfully addressed issues encountered in React Native while simultaneously managing his Rails deliverables.
      </em></p>

      <details class="group">
        <summary class="group-open:hidden text-slate-500 dark:text-slate-400 marker:content-[''] text-sm cursor-pointer">... Read more</summary>

        <div class="text-gray-800 dark:text-slate-50 mt-4">
          <em>
            He provided quick and insightful analysis of any problem at hand and devised excellent solutions within tight timeframes, all without compromising the quality of his work. His code reviews were clear and well-reasoned.
            <br />
            <br />
            Working with him was a genuine pleasure, and I would welcome the opportunity to collaborate with him again in the future.
          </em>
        </div>
      </details>
    </div>
  </blockquote>
</div>
