<div class="bg-white dark:bg-slate-950 border border-slate-200 dark:border-slate-800 shadow rounded-lg p-4">
  <div class="flex space-x-2 mb-4">
    <a href="https://www.linkedin.com/in/nikolaz-s/">
      <img src="/assets/images/recommendations/nikolaz.webp" alt="Nikolaz's Avatar" class="w-12 h-12 rounded-full object-cover" />
    </a>
    <div>
      <h3 class="font-medium"><a class="visited:text-current" href="https://www.linkedin.com/in/nikolaz-s/">Nikolaz S.</a></h3>
      <span class="text-sm text-gray-600 dark:text-gray-300">Web developer</span>
    </div>
  </div>

  <blockquote class="relative mt-6">
    <div class="absolute -top-6 -start-2 text-gray-100 dark:text-gray-700">
      {% include icons/quote.html %}
    </div>

    <div class="relative z-10 px-2">
      <p class="text-gray-800 dark:text-slate-50 indent-4"><em>
        Emmanuel is an exceptional mentor. He is an expert in web development and has a keen ability to breakdown complex concepts, whether that is in Ruby, JavaScript, a framework or in a broader sense, as a business minded developer.
        <br />
        Over the past year we have worked on a variety of topics, and Emmanuel has been a dedicated and empathetic teacher, always making time even with a busy workload.
        <br />
        He is particularly good at assessing priorities within any given context whilst keeping a cool head at all times. It's a pleasure to recommend him!
      </em></p>
    </div>
  </blockquote>
</div>
