<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ site.title }} | {{ page.title }}</title>
    <meta name="description" content="{{page.description}}">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>

  <body class="bg-gray-50 dark:bg-gray-900 text-gray-950 dark:text-slate-50">
    <div class="relative">
      <div aria-hidden="true" class="flex absolute -top-48 left-1/2 transform -translate-x-1/2">
        <div class="bg-gradient-to-r from-amber-50 to-stone-50 blur-3xl w-[25rem] h-[44rem] rotate-[-60deg] transform translate-x-[10rem] dark:from-violet-900/50 dark:to-purple-900"></div>
        <div class="bg-gradient-to-tl from-amber-50 via-stone-100 to-amber-50 blur-3xl w-[90rem] h-[50rem] rounded-fulls origin-top-left -rotate-12 dark:from-indigo-900/70 dark:via-indigo-900/70 dark:to-blue-900/70"></div>
      </div>
    </div>

    <main class="relative p-2 lg:p-0 mx-auto max-w-3xl">
      {{ content }}
    </main>
  </body>
</html>
