<div class="md:hidden">
  <img src="/assets/images/emmanuel.webp" class="h-full w-24 h-24 mx-auto rounded-xl" />

  <div class="text-center">
    <a href="/" class="block text-2xl font-bold my-2 text-xl text-gray-950 visited:text-gray-950 dark:text-white dark:visited:text-white">Emmanuel Cousin</a>
    <p class="text-sm mt-0 leading-tight px-4">
      Software developer - Independent contractor.<br/>
      Expert in Ruby on Rails and Javascript applications
    </p>
  </div>
</div>

<div class="hidden md:flex p-3 sm:p-4 bg-white dark:bg-gray-900/75 rounded-xl h-24 sm:h-36 lg:h-48 space-x-4 lg:space-x-6 items-start mt-8 mb-6">
  <img src="/assets/images/emmanuel.webp" class="h-full rounded-xl" />

  <div>
    <a href="/" class="block text-3xl lg:text-4xl font-bold text-gray-950 visited:text-gray-950 dark:text-white dark:visited:text-white">Emmanuel Cousin</a>
    <p class="text-base mt-0 leading-tight">
      Software developer - Independent contractor.<br/>
      Expert in Ruby on Rails and Javascript applications
    </p>
  </div>
</div>
